* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul,
li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.5;
    background-color: #fff;
}
.container {
    max-width: 1347px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0 20px 0 20px;
}
.site-header {
    background-color: #000000;
    padding: 16px 0 16px 0;
    color: #fff;
}
.site-header-container {
    display: flex;
    align-items: center;
}
.site-logo {
    margin-right: 140px;
    display: flex;
    align-items: center;
    transition: opacity 0.4s ease;
}
.site-logo:hover {
    opacity: 0.8;
}
.site-logo:active {
    opacity: 0.6;
}
.site-logo img {
    width: 151px;
    height: 28px;
}

.site-nav {
    display: flex;
    align-items: center;
    margin-right: auto;
}
.site-nav-item:not(:last-child) {
    margin-right: 30px;
}
.site-nav-link {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: 0%;
    color: #fff;
    transition: color 0.4s ease, opacity 0.4s ease, border-bottom 0.4s ease;
    padding-bottom: 5px;
}
.site-nav-link:hover {
    color: #e7760b;
    border-bottom: 2px solid #e7760b;
}
.site-nav-link:active {
    opacity: 0.6;
}
.social {
    width: 30px;
    height: 30px;
}
.social a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* start hero section */
.hero {
    padding-top: 40px;
    padding-bottom: 40px;
}

.hero-container {
    max-width: 944px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero-img {
    margin-bottom: 80px;
}

.hero-title {
    max-width: 654px;
    width: 100%;
    font-weight: 600;
    font-size: 40px;
    line-height: 150%;
    margin-bottom: 50px;
}
.hero-text {
    max-width: 864px;
    width: 100%;
    line-height: 150%;
    margin-bottom: 60px;
}

.hero-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.hero-item:not(:last-child) {
    margin-right: 20px;
}

.btn {
    border: none;
    padding: 4px 20px;
    border-radius: 22px;
    border: 1px solid #000000;
    background-color: transparent;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    line-height: 150%;
    transition: all 0.4s ease;
}

.btn:hover {
    background-color: #000000;
    color: #fff;
}

.btn:active{
    opacity:0.6 ;
}